<h1>You have got an appointment</h1>
<p><%= @user.name %> You've got an appointment with <%= @tutor.name  %> on </p>
<p><%= @appointment.date_of_appointment %></p>
<p>If you need urgent help, you can always check to see if other tutors are online</p>
<p>by clicking on the "need help urgently" button below the search bar</p>
<p><strong>Admin at TutorU</strong></p>
