<h1>You have got an appointment</h1>
<p><%= @tutor.name %> You've got an appointment with <%= @user.name  %> on </p>
<p><%= @appointment.date_of_appointment %></p>
<p>Please update your availability in your profile section.</p>
<p><strong>Admin at TutorU</strong></p>
