<h1>Welcome to TutorU</h1>

<p>Hey <%= @user.name %>, Thank you for joining.</p>

<p>you should go checkout <%= link_to 'Check out our at TutorU now', users_url(host: 'tutoru-philandmeds.herokuapp.com')%></p>
