

  <ul id:"alltutors">
    <% @users.each do |tutor| %>
        <li>Tutor's name: <%= tutor.user.name %></li>
        <li>Tutor's availability: <%= tutor.availability %></li>
        <li>Area of expertise: <%= tutor.category %></li>
        <li><%= link_to "Check out the tutor", tutor.user %></li></br>
    <% end %>
  </ul>
