

  <h2>Search by the subject or topic</h2>
    <%= form_tag users_path, method: :get, authentication: false, id: 'search-form' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search" %>
    <% end %>

  <% if logged_in? %>
    <h2>Tutors Available</h2>
    <div id="tutorlist">
      <%= render 'user' %>
    </div>
  <% end %>
