a:link {
	text-decoration: none;
	color: #4d4d4d;
}

#search-form {
	z-index: 10;
}

a:visited {
	text-decoration: none;
	color: #4d4d4d;
}

a:hover {
	color: #72d69a
}

body {
	background-color: black;
}

.display-inline {
	display: inline-block;
}

.blackcontent {
	width: 100%;
	height: 40vh;
	background-color: black !important;
	background: url(quote1.jpg) center center no-repeat;
}

#search-form-submit {
	background-color: #00BCD4;
	font-size: 15px;
	font-family: 'Nunito';
	-webkit-appearance: none;
	box-shadow: none !important;
	border: none !important;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
	color: white;
	text-transform: uppercase;
	padding: 11px 11px;
	border-radius: 4px;

}

.h2search {
	font-size: 13px;
	font-family: 'Montserrat';
	color: white;
	margin-bottom: 30px;
	text-transform: uppercase;
	text-align: center;

}

.search {
	position: absolute;
	z-index: 50;
	left: 40%;
	top: 40%;
	background-color: rgba(5, 104, 175, 0.28);
	padding: 20px 50px;
	border-radius: 5px;
	box-shadow: 2px solid white;

}

.bg-wrap {
	overflow: hidden;	
}

.bcg {
	height: 75vh;
	width: 100%;
	background:url(suitmath.jpg) no-repeat center center;
	background-size: 100% 100%;

}

.bcg {
	-webkit-transition: -webkit-transform 4s ease-out;
	        transition: transform 4s ease-out;
	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
	-webkit-transform-origin: top center;
	    -ms-transform-origin: top center;
	        transform-origin: top center; 
}

.is-loaded {
	-webkit-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	        transform: scale(1.05); 
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	height: 75vh;
	width: 100%;
	background-color: rgba(0,58,146,0.2);
	background-size: 100% 100%;
}

.hat {
	background: url(hat_jpg.png) no-repeat center center;
	background-size: cover;
	transform: scale(0.5);
	z-index: 999999999;
	width: 100px;
	margin-left: -15px;
	margin-top: -5px;
}

.fixednav {
	display: inline-flex;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 60px;
	padding-left: 10px;
	line-height: 55px;
	background-color: rgba(255,255,255,0.9);
	border-bottom: 2px solid black;
}

#hamburger-closer {
	position: absolute;
	transform: translate(-50%, 50%);
	display: inline-block;
	height: 5px;
	width: 5px;
	top: 25%;
	right: 5%;
	cursor: pointer;

}

.menu-lines {
	background-color: rgba(0,0,0,0.7);
	border-radius: 5px;
	width: 37px;
	height: 6px;
	position: absolute;
}

.mobilenav {
  font-family: inherit;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
}

.mobilenav li {
  padding: 15px;
}

.mobilenav li a {
  font-size: 150%;
  color: black;
  text-decoration: none;
  font-weight: 300;
  width: 100%;
}

.nav-section {
	display: inline-flex;
}

.nav-section-list-enroll {
	margin-left: 10px;
	font-family: 'Montserrat';
	font-size: 12px;
}

.nav-section-list-signup {
	margin-left: -10px;
	margin-right: 10px;
	font-family: 'Montserrat';
	font-size: 12px;

}

.list-menu {
	position: absolute;
	top: 30%;
	left: 45%;
	text-align: center;
}

.menu {
	margin-right: 5px;
	position: absolute;
	right: 6%;
	font-family: 'Montserrat';
	font-size: 18px;
	margin-top: 4px;
}

.nav-menu {
	display:inline;
}

.logo {
padding-bottom: 5px;
font-family: 'Montserrat';
font-weight: 400;
font-size: 20px;
vertical-align: center;
color: #222222;
}

.heading1 {
	text-align: center;
	color: white;
}

.h {
	font-size: 30px;
	font-family: 'Nunito';
	font-weight: 400;
	letter-spacing: -0.5px;
	margin-bottom: 20px;
}

.layout {
	font-family: 'Nunito';
	font-weight: 300;
	line-height: 25px;
	font-size: 15px;
}

.content-container { 
	background-color: white;
}

.first-section {
	width: 60%;
	height: 40vh;
	margin: 0 auto;
	margin-top: 100px;
	color: #504F4F;
/*		background-color: black;*/
}

.second-section {
	width: 70%;
	height: 40vh;
	margin: 0 auto;
	margin-top: 50px;
	color: #504F4F;
	overflow: hidden;
	padding-right: 60px;
/*		background-color: black;*/
}

.third-section {
	width: 60%;
	height: 34vh;
	margin: 0 auto;
	margin-top: 70px;
	color: #504F4F;
	padding-right: 55px;
	overflow: hidden;
/*		background-color: black;*/
}

.fourth-section {
	width: 55%;
	height: 40vh;
	margin: 0 auto;
	margin-top: -42px;
	color: #504F4F;
	padding-left: 250px;
	margin-bottom: 160px;
/*		background-color: black;*/
}

.imghousing-one {
	height: 250px;
	width: 40%;
	float: right;
	margin-left: 70px;
/*	transform: translate(-200px, 0);*/
}

.imghousing-two {
	float: left;
	height: 450px;
	width: 55%;
	margin-right: 92px; 
}

.imghousing-three {
	float: right;
	height: 250px;
	width: 45%;
	margin-left: 100px;
}

.imghousing-four {
	float: left;
	height: 330px;
	width: 40%;
	margin-right: 70px;
}

.txthousing-one {
	transform: translate(0, 100px);
}

.txthousing-two {
	transform: translate(0, 60px);
}

.txthousing-three {
	transform: translate(0, 10px);
}

.txthousing-four {
	transform: translate(0, 100px);
}

.img-layout {
	height: 100%;
	width: 100%;
}

.content-container {
	width: 100%;
	height: 100%;
}

.footer {
	height: 50vh;
	background: black;
	color: white;
}

.table1 {
	padding-top: 80px;
	display: inline-block;
	width: 20%;
	line-height: 30px;
	font-size: 14px;
	font-family: 'Nunito';
	font-weight: 300;
/*	border: 1px solid white;*/
}

.table2 {
	display: inline-block;
	width: 20%;
	line-height: 30px;
	height: 150px;
	margin-right: 35px;
	font-size: 14px;
	font-family: 'Nunito';
	font-weight: 300;
	transform: translate(0,-12px);
/*	border: 1px solid white;*/
}

.table3 {
	display: inline-block;
	width: 40%;
	font-size: 12px;
	font-family: 'Nunito';
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 1px;
	transform: translate(0, -40px);
/*	border: 1px solid white;*/

}

.footer-width {
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

.footer-start {
	height: 21vh;
	position: relative;
	background-color: black;
}

.logo-bottom {
	color: white;
	text-align: center;
	line-height: 35px;
	height: 35px;
	font-family: 'Montserrat';
	width: 130px;
	position: absolute;
	top: 40%;
	left: 45%;
	letter-spacing: 0.5px;
	font-size: 16px;
}

.footer-signup {
	height: 15vh;
	text-align: center;
/*	position: relative;*/
background-color: white;
}

.action-statement {
display: inline-block;
font-family: 'Nunito';
font-size: 14px;
margin-left: -165px;
}

.signup-button {
margin-top: 22px;
display: inline-block;
width: 115px;
height: 50px;
line-height: 50px;
margin-left: 30px;
font-family: 'Montserrat';
font-size: 14px;
}

#signin-menu {
  color: black;
  background-color: white;
  opacity: 0.9;
  border: 1px solid #E2E2E2;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  font-family:  'Nunito';
  line-height: 100px;
  text-align: center;
  margin: auto;
  display: none;
  transform: translate(-45px,8px);
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 32%;
	height: 270px;
}

.modal-signin {
	font-family: 'Montserrat';
	letter-spacing: 0.8px;
	margin-bottom: 15px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 30px;
	font-weight: bold;
	transform: translate(0, -11px);
	font-family: 'Montserrat';
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/*@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}*/


/* MEDIA SCREENS */

@media only screen and (max-width: 1100px) {
		.action-statement {
		margin-left: -132px; 
	}

}

@media only screen and (max-width: 900px) {
		.action-statement {
		margin-left: -119px; 
	}

	.h {
		font-size: 20px;
	}

	.layout {
		font-size: 11px;
	}

	.txthousing-one {
		transform: translate(0,0);
	}

	.imghousing-two {
		margin-right: 40px;
	}

}

@media only screen and (max-width: 631px) {
		.action-statement {
		margin-left: -85px; 
	}

	.imghousing-two {
		width: 50%;
		height: 400px;
	}

	.imghousing-three {
		margin-left: 30px;
	}

	.txthousing-two {
		transform: translate(0, 6px);
	}

	.imghousing-four {
		height: 240px;
		margin-right: 55px;
		transform: translate(0, 100px);
	}

	.fourth-section {
		padding-left: 0px;
		width: 77%;
	}

	.third-section {
		width: 80%;
		padding-right: 0px;
	}

	.second-section {
		padding-right: 0;
		width: 84%;
	}

	.first-section {
		width: 85%;
	}

}

@media only screen and (max-width: 810px) {
	.table3 {
		font-size: 10px; 
		transform: translate(0, -18px);
	}

	.imghousing-three {
		margin-left: 30px;
	}

	#hamburger-closer {
		right: 10%;
	}

	.menu {
		right: 11%;
	}

}

@media only screen and (max-width: 440px) {
	.logo-bottom {
		left: 38%;
	}

}

@media only screen and (max-width: 567px) {
	.table3 {
		font-size: 10px; 
		transform: translate(0, -18px);
		display: block;
		margin: 0 auto;
	}

	.table2 {
		display: block;
		width: 40%;
		margin: 0 auto;
		margin-top: 17px;
	}

	.table1 {
		margin: 0 auto;
		display: block;
		width: 40%;
	}

	.menu {
		display: none;
	}

}